@import url('./darkMode.css');
@import url('./header.css');

@font-face {
  font-family: 'Rubic';
  src: url('../fonts/Rubik.ttf'); 
}

*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubic';
}
body{
  background-color: #d6d6d6;
  color: black;
}

.container{
 padding: 15px;
}
.collection{
  background-color: #E8E8EA;
  border-radius: 10px;
  padding: 25px 5px 25px 20px;
}
.collection+.collection{
  margin-top: 20px;
}

.collection__title{
  text-transform: uppercase;
  font-family: 'Rubick', sans-serif;
  font-weight: 100;
  letter-spacing: 5px;
}
.area{
  margin-top: 20px;
}

.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  border-top: 1px dotted black;
  padding-top: 20px;
  gap: 20px;
  margin-top: 20px;
}
.skill{
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skill__img{
  width: 75px;
  height: 75px;
  cursor: pointer;
  transition: all .3s ease;
}
.skill__img:hover{
  transform: scale(1.05);
}

.skill__subtitle{
  margin-top: 5px;
  max-width: 70px;
  text-align: center;
  word-wrap:break-word;
  font-size: 11px;
}


.faq{
  max-width: 500px;
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  padding: 35px 15px;
}
.faq__subtitle{
  display: block;
  margin-top: 10px;
}
.faq__answer{
  display: block;
  margin-top: 5px;
  font-weight: normal;
}
.faq__qestion{
  margin-top: 20px;
}


.tooltip-wrap {
  position: relative;
}
.tooltip-wrap::after{
  display: none;
  content: '';
  position: absolute;
  left: 25px;
  top: calc(50% - 20px);
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #fff;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  top: calc(50% - 0.6rem);
  left: 5%;
  right: 5%;
  width: 500px;
  background-color: #352e42 !important;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  min-width: 20rem;
  z-index: 5;
}
.tippy-box{
  width: 350px;
  background-color: #282536;
  color: rgb(252, 252, 252);
  padding: 5px;
  border-radius: 10px;
}
.tippy-box[data-placement^=top]>.tippy-arrow:before, .tippy-box[data-placement^=bottom]>.tippy-arrow{
  color: #282536;
}

.helpfull-link{
  display: flex;
  align-items: center;
}
.helpfull-link>*{
  color: rgb(197, 185, 248);
  margin-left: 5px;
}

.tooltip-description{
  margin-top: 5px;
}
.helpfull-links{
  margin-top: 10px;
}
.helpfull-link+.helpfull-link{
  margin-top: 5px;
}
.tooltip-img{
  width: 18px;
  height: 18px;
}
.tooltip-header{
  display: flex;
  justify-content: space-between;
}
.tooltip-href-youtube {
  filter: drop-shadow(0px 0px 1px black);
}
.tooltip-href{
  text-decoration: none;
}